.heading {
  margin: 20px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.selectedDate {
  margin-right: 20px !important;
}
.colorPicker {
  width: 140px !important;
  height: 30px;
  margin-right: 20px !important;
}
.bikes {
  display: flex;
  padding: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
