.wrapper {
  margin-top: 20px;
  position: relative;
  width: 240px;
  margin-right: 20px;
}
.available {
  background-color: greenyellow;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px;
  border-radius: 0px 0px 0px 10px;
}

.notAvail {
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px;
  border-radius: 0px 0px 0px 10px;
}
.bikeImg {
  aspect-ratio: 1;
  object-fit: contain;
}
.delete {
  cursor: pointer;
  color: red;
  position: absolute;
  left: 0px;
  top: 0px;
}
.edit {
  cursor: pointer;
  color: turquoise;
  position: absolute;
  left: 20px;
  top: 0px;
}
